
<% @dogs.each do |dog| %>
<p> Name: <%= "#{dog.name}" %> </p> <br>
<p> Origins: <%= "#{dog.origins}" %> </p> <br>
<p> Life Span: <%= "#{dog.life_span}" %> </p> <br>
<p> Group: <%= "#{dog.group}" %> </p> <br>
<% end %>