<h1>Log In</h1>

<%= form_tag(sessions_path) do %>
    <%= text_field_tag :email, :placeholder => "type your email here" %> 
    <%= password_field_tag :password_digest, :placeholder => "type your password here" %>
    <% submit_tag %>
<% end %>
<% end %>