<h1> Hellooooo <%= @user.email %> </h1>
<% if @user.atts_table_id != nil %>
    <% @atts_table = AttsTable.find(@user.atts_table_id) %>
    <%= link_to "Your Preferences", atts_table_path(@atts_table)%>
<% else %>
    <%= link_to "Enter Your Preferences Here", new_atts_table_path %>
<% end %>

<br>

<h2> Your Matches </h2>
<% matches = @user.match_accesser %>

<% matches.each do |match| %>
<% dog = DogBreed.find(match.dog_breed_id) %>
<p> <%= link_to "#{dog.name}", match_path(match) %> </p> <br>

<% end %>
