<h1> Hellooooo <%= @user.email %> </h1>

<% if @user.atts_table != nil %>
    <% @atts_table = @user.atts_table %>
  <button class="button">  <%= link_to "Your Preferences", atts_table_path(@atts_table)%> </button>
<% else %>
   <button class="button"> <%= link_to "Enter Some Information about yourself to start getting matches", new_user_atts_table_path(@user.id) %> </button>
<% end %>

<br>

<% if @user.matches != [] %>
<h2> Your Matches </h2>
<button class="button">
<%= link_to "Your Matches", user_matches_path(@user.id) %>
</button>

<% else %>
<h2> You don't have any matches yet </h2>
<p> To get matches, fill out your preferences, and then press the create matches button </p>
<% end %>

