<h1> Hellooooo <%= @user.email %> </h1>

<% if @user.atts_table_id != nil %>
    <% @atts_table = AttsTable.find(@user.atts_table_id) %>
    <%= link_to "Your Preferences", atts_table_path(@atts_table)%>
<% else %>
    <%= link_to "Enter Your Preferences Here", new_user_atts_table_path(@user) %>
<% end %>

<br>

<h2> Your Matches </h2>
<%= link_to "Your Matches", user_matches_path(@user.id) %>
