<% @matches.each do |match| %>
<% dog = DogBreed.find(match.dog_breed_id) %>
<h1> <%= dog.name %> </h1>
<p> Origins: <%= dog.origins %> </p>
<p> Life Span: <%= dog.life_span %> </p>
<p> Group: <%= dog.group %> </p>
<% end %>