<!DOCTYPE html>
<html>
<head>
  <title>Puppy Love</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/applicatione.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<img src="/images/Puppy_love_logo.png" class="logo" alt="Puppy Love logo">

<br>
<br>

<img src="/images/Puppy_Love_entry_page.png" class="doggo" alt="Puppy holding flower picture">
<br>
<p> <%= link_to "Enter Site", root_path %> </p>
</body>
</html>
