
<h1> Looking for a pup? </h1>

<h2> Fall in Puppy Love </h2>

<div class="links">
<button class="button">
<%= link_to "sign up", signup_path %> 
</button>
<br>
<p> or </p> <br>
<button class="button">
<%= link_to "Login", login_path%>
</button>
</div>